@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600;700&family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

body {

    margin: 0%;
}

li.nav-item {
    font-family: 'Poppins', sans-serif;   
    color: #EFF5F5;


}
h1 {
    font-family: 'Belanosima', sans-serif;
    text-align: center;
    position: relative;
    display: inline-block;

}

 


h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    margin: 2rem;


}
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display:flex;
    margin: 1rem;


}
div.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #EFF5F5;
    text-shadow:0 0 8px rgb(0, 0, 1);
    background-color: rgba(239, 245, 245, 0.4) ;
}

div.container {
  width: 100%;
  background-image: url(IMAGENES/img-escuela1.jpg);
  background-attachment: fixed;
  padding: 0%;
    }
.container{
    max-width: 100%;
    max-height: 100%;
    min-width: 50%;
    min-height: 50%;
    
}
div.container-fluid {
    width: 100%;
    padding:0%;

}
ul.navbar-nav.me-auto {
    margin:auto;


}
nav.navbar.navbar-expand-md.navbar-dark.bg-dark {
    padding: 0%;
    width:100%
} 
section {
    font-family: 'Poppins', sans-serif;   
    color: #EFF5F5;
    text-shadow:0 0 8px rgb(0, 0, 1);
    padding: 2rem;
   
   
}
p {
    font-family: 'Poppins', sans-serif;   
    color: #EFF5F5;
    width: 50%;
    margin: 2rem;
    text-align: justify;
    display: flex;
  
    
}
img.escuela {
    float: right;
    margin: 2rem;
   
}
img.aula {
    float: left;
    width: 25%;
    margin: 2rem;

}
div.section1 {
    display: flex;
justify-content: center;
}

  .button a {
    text-decoration: none;
    font-size: 30px;
    width: 60px;
    height: 60px;

}  
ul {
    list-style: none;
    padding: 3px;
    margin: 2px;
}
div.section3 {
    display: flex;
    justify-content: center;


}
.imgs3 {
    width: 200px;
    height: 150px;
    margin: 0 5px;
}
div.section4 {
    display: flex;
    justify-content: center;

}
  
section.button {
    display: flex;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    justify-content: space-around;
  }
div.redes {
    width: 150px;
    height: 200px;
    padding: 3px;
}
div.Contacto {
    width: 200px;
    height: 200px;
    padding: 3px;

}
div.mapa{
    width: 250px;
    height: 200px;
    padding:3px;
}
iframe {
    width: 225px;
    height: 125px;
    margin:10px;
}

/*estilo de formulario*/

form {

    width: 400px;
    background-color: #00425A;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;   
    color: #EFF5F5;
    font-size: 20px;
    
}
h4 {
    font-family: 'Belanosima', sans-serif;
    text-align: center;
    font-size: 30px;

}
input.form {
    width: 100%;
    padding: 10px;
    background-color: #EFF5F5;
    border-radius: 4px;
    margin-bottom: 16px;
    border: solid 1px #181823;
}

a.form{
    font-size: 15px;
    color: #EFF5F5;
    background-color:#00425A ;
    margin-left:5px;
}
input.env {
    width: 100px;
    font-family: 'Poppins', sans-serif;

    
}